@import "../../scss/_var_mix";

.slider-section {
    padding-bottom: 175px;
    @include mobile {
        padding-bottom: 100px;
    }
    @include tablet {
        padding-bottom: 0;
    }

    .container {
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: initial;
            align-items: center;
        }
        @include tablet {
            min-height: 800px;
        }
    }

    .product {
        @include tablet {
            width: 45%;
            margin-top: 0;
        }
    }

    .slider {
        margin-right: -4%;
        float: right;
        width: 52%;
        padding-top: 47px;
        padding-right: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
            width: initial;
            margin-right: 0;
            padding: 20px 0;
        }
        @include tablet {
            align-content: center;
            flex-wrap: wrap;
            padding: 0;
            margin-right: 0;
        }

        img {
            width: 52.4vw;
            max-width: 755px;

            @include mobile {
                width: 100%;
                margin-right: 0;
            }
            @include tablet {
                width: 51.4vw;
            }
        }

        .pagination {
            display: flex;
            width: 60px;
            margin-top: -131px;
            justify-content: space-between;
            @include mobile {
                display: none;
            }
            @include tablet {
                margin-top: -50px;
            }
            li.pag {
                width: 10px;
                height: 10px;
                background-color: #d1d1d1;
                border-radius: 50%;
            }

            //Эти два стиля потом убрать
            li.pag:first-child {
                background-color: black;
            }
            li.pag:first-child:hover {
                background-color: black;
            }
            //----------------------------

            li.pag:hover {
                cursor: pointer;
                background-color: #a7a6a6;
            }

            //Класс .pagination__active для js
            &__active {
                background-color: black;
            }
            &__active:hover {
                background-color: black;
            }
        }
    }
}

.color-change {
    &__h2 {
        font-size: 40px;
        line-height: 55px;
        font-style: normal;
        font-weight: normal;
        @include mobile {
            font-size: 32px;
        }
    }

    &__p {
        margin-top: 11px;
        font-size: 16px;
        line-height: 20px;
    }

    &__circles {
        display: flex;
        margin-top: 19px;
    }

    
}




