@import "../../scss/_var_mix";

.slider-section {
    padding-bottom: 175px;
    @include mobile {
        padding-bottom: 100px;
    }
    @include tablet {
        padding-bottom: 0;
    }

    .container {
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: initial;
            align-items: center;
        }
        @include tablet {
            min-height: 800px;
        }
    }

    .product {
        @include tablet {
            width: 45%;
            margin-top: 0;
        }
    }

    .slider {
        margin-right: -4%;
        float: right;
        width: 52%;
        padding-top: 47px;
        padding-right: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // overflow: hidden;//-----

        @include mobile {
            width: initial;
            margin-right: 0;
            padding: 20px 0;
        }
        @include tablet {
            align-content: center;
            flex-wrap: wrap;
            padding: 0;
            margin-right: 0;
        }
        &__img-wrap {//-----
            width: 755px;
            height: 755px;
            @include mobile {
                all: initial;
            }
            @include tablet {
                width: 400px;
                height: 400px;
            }
        }
        &__img {
            width: 52.4vw;
            max-width: 755px;
            @include mobile {
                width: 100%;
                margin-right: 0;
            }
            @include tablet {
                width: 51.4vw;
            }
        }
        &__img:nth-child(2),
        &__img:nth-child(3) {
            object-fit: scale-down;
            @include tablet {
                width: 400px;
                margin: 0 auto;
            }
        }


        .pagination {
            display: flex;
            width: 60px;
            margin-top: -131px;
            justify-content: space-between;
            @include mobile {
                display: none;
            }
            @include tablet {
                margin-top: -50px;
            }
            li.pag {
                width: 10px;
                height: 10px;
                background-color: #d1d1d1;
                border-radius: 50%;
            }
            li.pag:hover {
                cursor: pointer;
                background-color: #a7a6a6;
            }
            li.pag_active {
                background-color:  #a7a6a6;
            }
        }
    }
}

.color-change {
    &__h2 {
        font-size: 40px;
        line-height: 55px;
        font-style: normal;
        font-weight: normal;
        @include mobile {
            font-size: 32px;
        }
    }

    &__p {
        margin-top: 11px;
        font-size: 16px;
        line-height: 20px;
    }

    &__circles {
        display: flex;
        margin-top: 19px;
    }

}
%circle {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
    margin-right: 13px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        transform: scale(1.1);
    }
}

// Модификаторы цветов товара
.circle_white {
    @extend %circle;
    background-color: #fff;
}
.circle_red {
    @extend %circle;
    background-color: #dd5656;
}
.circle_black {
    @extend %circle;
    background-color: black;
}




