<footer class="footer">
  <div class="container">

    <div class="footer__logo">
      <a href="#">
        <img src="../img/icons/logo.png" alt="logo">
      </a>
    </div>

    <ul class="footer__list">
      <li class="footer__elem_open">
        <ul>
          <li class="footer__name">Products</li>
          <li><a href="#">HEADPHONES</a></li>
          <li><a href="#">EARPHONES</a></li>
          <li><a href="#">SPEAKERS</a></li>
          <li><a href="#">ACCESSORIES</a></li>
          <li><a href="#">COLLABORATIONS</a></li>
          <li><a href="#">BEATSAUDIO</a></li>
          <li><a href="#">SPECIAL OFFERS</a></li>
        </ul>
      </li>
      <li class="footer__elem_closed">
        <ul>
          <li class="footer__name">Support</li>
          <li class='footer__link'><a href="#">PRODUCT HELP</a></li>
          <li class='footer__link'><a href="#">SERVICE & WARRANTY</a></li>
          <li class='footer__link'><a href="#">REGISTER YOUR BEATS</a></li>
          <li class='footer__link'><a href="#">UPDATE YOUR BEATS</a></li>
          <li class='footer__link'><a href="#">AUTHORIZED&nbsp;SERVICE&nbsp;PROVIDERS</a></li>
          <li class='footer__link'><a href="#">CONTACT SUPPORT</a></li>
          <li class='footer__link'><a href="#">INTERNATIONAL NUMBERS</a></li>
        </ul>
      </li>
      <li class="footer__elem_closed">
        <ul>
          <li class="footer__name footer__elem_company">Company</li>
          <li class='footer__link'><a href="#">PRODUCT&nbsp;HELP</a></li>
          <li class='footer__link'><a href="#">NEWS&nbsp;AND&nbsp;EVENTS</a></li>
          <li class='footer__link'><a href="#">PROMOTION&nbsp;TERMS</a></li>
          <li class='footer__link'><a href="#">PRIVACY&nbsp;POLICY</a></li>
          <li class='footer__link'><a href="#">TRADEMARK</a></li>
          <li class='footer__link'><a href="#">TERMS&nbsp;OF&nbsp;USE</a></li>
          <li class='footer__link'><a href="#">COOKIES</a></li>
        </ul>
      </li>
    </ul>

    <div class="footer___follow">
      <!--Какой-то очень странный баг. Блоки follow и socials не отображаются, 
          если в названии их классов меньше трёх нижних_подчёркиваний. -->
      <h2>Follow Us</h2> 
      <div class="footer___socials">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    
  </div>
  <p class="footer__copyright">Copyright © 2020 Apple Inc. - All rights reserved.</p>
</footer>