@import "../../scss/_var_mix";

.footer {
    margin-top: 63px;
    background: $main_bg;
    width: 100vw;

    .container {
        padding-bottom: 21px;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        padding-top: 55px;
        @include mobile {
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding-top: 30px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        @include mobile {
            flex-direction: column;
            text-align: center;
            width: 100%;
        }
        @include width-768-944px {
            flex-wrap: wrap;
            width: 80%;
        }
        @include width-945px {
            flex-wrap: nowrap;
            width: 67%;
        }

        li {
            list-style: none;
            padding-bottom: 0.7em;
            color: #fff;
            a {
                color: #fff;
            }
            a:first-child {
                opacity: initial;
            }
            li:nth-child(1) {
                @include font("Montserrat-SemiBold", 24px, 31px);
                @include mobile {
                    font-size: 20px;
                }
                @include width-768-1050px {
                    font-size: 20px;
                }
            }
        }
    }

    &__name {
        @include mobile {
            font-size: 20px;
            padding-top: 5px;
            padding-bottom: 12px;
            height: 45px;
            width: 100%;
            padding-bottom: 0;
        }
    }

    &__link {
        //Пункты списков кроме заголовка
        mix-blend-mode: normal;
        opacity: 0.39;
        a {
            text-transform: uppercase;
            @include width-768-1050px {
                font-size: 12px;
            }
        }
    }
    &__link:hover {
        @include mobile {
            opacity: 1; //В мобильной версии пункты меню становятся полностью непрозрачными (белыми)
        }
        a {
            @include not-mobile {
                //Все разрешения больше 768px включительно
                border-bottom: 1px solid white;
            }
        }
    }

    &__elem_open {
        a {
            @include width-768-1050px {
                font-size: 12px;
            }
        }
    }

    &__logo {
        text-align: center;
        @include mobile {
            margin-bottom: 35px;
        }
    }

    &___follow {
        display: flex;
        flex-direction: column;
        @include mobile {
            text-align: center;
            padding-top: 12px;
            padding-bottom: 40px;
        }
        @include width-768-944px {
            width: 100%;
            padding-top: 40px;
            align-items: center;
        }
        @include width-945px {
            width: initial;
        }

        > a {
            @include font("Montserrat-SemiBold", 24px, 31px);
            color: white;
        }

        h2 {
            font-size: 24px;
            line-height: 31px;
            color: white;
            @include mobile {
                font-size: 20px;
            }
            @include width-768-1050px {
                font-size: 20px;
            }
            @include width-768-944px {
                text-align: center;
            }
        }
    }

    &___socials {
        padding-left: 0;
        display: flex;
        padding-top: 14px;
        width: 170px;
        @include mobile {
            padding-top: 19px;
        }
        @include width-768-944px {
            width: min-content;
        }

        a {
            padding: 0;
            padding-right: 14px;
        }
        a:hover {
            transform: scale(1.1);
        }
        a:last-child {
            padding-right: 0;
        }

        i {
            width: 32px;
            height: 32px;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: black;
            background: #fff;
            border-radius: 50px;
            margin: auto;
            @include width-768-1050px {
                width: 28px;
                height: 28px;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    &__copyright {
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        mix-blend-mode: normal;
        opacity: 0.31;
        padding-top: 83px;
        padding-bottom: 21px;
        @include mobile {
            display: none;
        }
        @include width-768-944px {
            padding-top: 50px;
        }
    }
}

//Также mobile
@media (max-width: 768px - 1px) {
    .footer {
        &__elem_open {
            padding-bottom: 50px;
            border: none;
        }
        &__elem_closed {
            padding-bottom: 0;
            .footer__name {
                border-top: 0.5px solid #000;
            }
            .footer__elem_company {
                border-bottom: 0.5px solid #000;
            }
        }
        .closed {
            display: none;
        }
    }
}
