footer.footer
  .container
    .footer__logo
      a(href='#')
        img(src='../src/img/icons/logo.png' alt='logo')
    ul.footer__list
      li.footer__elem_open
        ul
          li.footer__name Products
          li.footer__link
            a(href='#') Headphones
          li.footer__link
            a(href='#') Earphones
          li.footer__link
            a(href='#') Speakers
          li.footer__link
            a(href='#') Accessories
          li.footer__link
            a(href='#') Colloborations
          li.footer__link
            a(href='#') Beatsaudio
          li.footer__link
            a(href='#') Special Offers
      li.footer__elem_closed
        ul
          li.footer__name Support
          li.footer__link.closed
            a(href='#') Product Help
          li.footer__link.closed
            a(href='#') Service &amp; Warranty
          li.footer__link.closed
            a(href='#') Register Your Beats
          li.footer__link.closed
            a(href='#') Update Your Beats
          li.footer__link.closed
            a(href='#') Authorized&nbsp;Service&nbsp;Providers
          li.footer__link.closed
            a(href='#') Contact Support
          li.footer__link.closed
            a(href='#') International Numbers
      li.footer__elem_closed
        ul
          li.footer__name.footer__elem_company Company
          li.footer__link.closed
            a(href='#') Product&nbsp;Help
          li.footer__link.closed
            a(href='#') News&nbsp;and&nbsp;Events
          li.footer__link.closed
            a(href='#') Promotion&nbsp;Terms
          li.footer__link.closed
            a(href='#') Privacy&nbsp;Policy
          li.footer__link.closed
            a(href='#') Trademark
          li.footer__link.closed
            a(href='#') Terms&nbsp;of&nbsp;Use
          li.footer__link.closed
            a(href='#') Cookies
    .footer___follow
      //-
        Какой-то очень странный баг. Блоки follow и socials не отображаются,
        если в названии их классов меньше трёх нижних_подчёркиваний.
      h2 Follow Us
      .footer___socials
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-facebook-f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-whatsapp
  p.footer__copyright Copyright &copy; 2020 Apple Inc. - All rights reserved.