<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
        title Catalog
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
                
    body
       
        .catalog
            include ../partials/nav/nav.pug
            .catalog__title-wrap.container
                h1.catalog__title Earphones

            .catalog__wrap
                aside.parameters
                    .parameters__price
                        h2 Price
                        input(type="text" id="amount")
                        input(type="text" id="amount-till")
                        #slider-range
                        
                        .wrap-checkbox
                            input.checkbox(type="checkbox" id="sell" checked)
                            label(for="sell") Sell
                        br
                        .wrap-checkbox
                            input.checkbox(type="checkbox" id="new")
                            label(for="new") New

                    .parameters__color
                        h2 Color
                        .color
                        .color
                        .color
                        .color
                        .color
                        .color
                        .color
                        .color
                        .color
                        .color
                    
                    .parameters__type
                        h2 Type
                        details.parameters__details
                            summary Closed-Back
                            .items
                                p Open-Back
                                p On-Ear
                                p Over-Ear 
                                p In-Ear
                                p Earbuds

                include ../partials/product_list/product_list.pug

            include ../partials/footer/footer.pug

        script.
            const nav = document.querySelector('.nav__burger');
            nav.onclick = function () {
            document.querySelector('.nav__menu').classList.toggle('open');
            }    