<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
        title Catalog
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
                
    body
       
        .catalog
            include ../partials/nav/nav.pug
            .catalog__title-wrap.container
                h1.catalog__title Earphones

            .catalog__wrap
                aside.parameters
                    p Price
                    p
                        label(for="amount")
                        input(type="text" id="amount" readonly)
                    #slider-range

                    details
                        summary Lorem ipsum
                        p Lorem
                        p Lorem
                        p Lorem
                        p Lorem
                        p Lorem

                include ../partials/product_list/product_list.pug

            include ../partials/footer/footer.pug

        script.
            const nav = document.querySelector('.nav__burger');
            nav.onclick = function () {
            document.querySelector('.nav__menu').classList.toggle('open');
            }    