<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
        title Catalog
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')

    body

        .catalog
            include ../partials/nav/nav.pug
            .catalog__title-wrap.container
                h1.catalog__title Earphones

            p.parameters-menu.container Filters
            .catalog__wrap
                include ../partials/parameters/parameters.pug
                include ../partials/product_list/product_list.pug
                ul.catalog__pagination
                    -for(let i = 1; i <= 4; i++)
                        li.pag #{i}

        script.
            // Цвета для блока Color
            let squareColor = [
                'yellow',
                'green',
                'pink-pale',
                'pink',
                'black',
                'brown',
                'purple-pale',
                'grey',
                'violet',
                'turquoise',
            ]
            let colors = document.querySelectorAll('.color');

            for (let i = 0; i < 10; i++) {
                colors[i].classList.add(squareColor[i]);
            }



           






        //- Меню для фильтров на странице каталога (мобильная версия)
        //- const param = document.querySelector('.parameters-menu');
        //- param.onclick = function () {
        //-     document.querySelector('.parameters').classList.toggle('open')
        //- }

        include ../partials/footer/footer.pug