section.product-list
    .container
        
        //- Объявляем миксин для продукта
        mixin product(url, price)
            .product-list__item
                .product-list__img
                    img(src= url)
                .product-list__wrap
                    if block
                        block
                    else
                        p No content provided
                    .product-list__wrap_price-button
                        p.product-list__price= price
                        a.product-list__button(href='#') Buy now

        //- Вызываем миксин
        +product(
            '../src/img/mainpage_list_items/Bitmap.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback    

        +product(
            '../src/img/mainpage_list_items/Bitmap-1.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback

        +product(
            '../src/img/mainpage_list_items/Bitmap-2.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback

        +product(
            '../src/img/mainpage_list_items/Bitmap-3.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback

        +product(
            '../src/img/mainpage_list_items/Bitmap-4.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback

        +product(
            '../src/img/mainpage_list_items/Bitmap-5.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback


        +product(
            '../src/img/mainpage_list_items/Bitmap-6.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback

        +product(
            '../src/img/mainpage_list_items/Bitmap-7.png',
            '$199.95'
        )
            h2.product-list__title Beats&#x2E3;
            p.product-list__description.
                Up to 8 hours of battery life<br>
                With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =<br>
                2 hours of playback



        //- Оставляю страую версию на всякий случай. Эти комментарии не попадают в итоговый html

        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-1.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-2.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-3.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-4.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-5.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-6.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now
        
        //- .product-list__item
        //-     .product-list__img
        //-         img(src='../src/img/mainpage_list_items/Bitmap-7.png' alt='')
        //-     .product-list__wrap
        //-         h2.product-list__title Beats&#x2E3;
        //-         p.product-list__description
        //-             | Up to 8 hours of battery life
        //-             br
        //-             | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
        //-             br
        //-             | 2 hours of playback
        //-         .product-list__wrap_price-button
        //-             p.product-list__price $199.95
        //-             a.product-list__button(href='#') Buy now