.bg-grey_wrap
    .container
        section.buy-section.bg-grey
            article.product
                p.product__description_short Talk. Listen. Beats.
                h2.product__name Beats&#x2E3;
                p.product__description_short Up to 8 hours of battery life
                p.product__description_short With Fast Fuel, a 5-minute charge = 2 hours of playback
                p.product__description_short Sweat &amp; water resistant
                p.product__description_short Apple W1 Chip &amp; Class 1 Wireless Bluetooth&reg;
                .product__wrap_price-buy
                    p.product__price $299.95
                    a.product__button(href='#') BUY NOW
                p.product__description_long $60 Apple Music gift card with purchase of select Beats products.*
            .product__img
                img.buy-secion__img(src='../src/img/Bitmap-2.png' alt='headphones photo')