.bg-wrap
    .bg-wrap-img
        .container
            section.bg-section
                img(src='../src/img/Bitmap-3.png' alt='headphones photo')
                article.product
                    p.product__description.description Totally wireless high-performance earphones
                    h2.product__title.title Powerbeats Pro
                    p.product__description.description Up to 9 hours of listening time
                    p.product__description.description Apple H1 Chip &amp; Class 1 Wireless Bluetooth&reg;
                    p.product__description.description Sweat &amp; water resistant
                    p.product__description.description Adjustable, secure-fit earhooks
                    .product__wrap.wrap
                        p.product__price.price $299.95
                        a.product__button.button(href='#') Buy now
                    p.product__offer.offer $60 Apple Music gift card with purchase of select Beats products.*