<footer class="footer">
  <div class="container">

    <div class="footer__logo">
      <a href="#">
        <img src="../img/icons/logo.png" alt="logo">
      </a>
    </div>

    <ul class="footer__list">
      <li>
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">HEADPHONES</a></li>
          <li><a href="#">EARPHONES</a></li>
          <li><a href="#">SPEAKERS</a></li>
          <li><a href="#">ACCESSORIES</a></li>
          <li><a href="#">COLLABORATIONS</a></li>
          <li><a href="#">BEATSAUDIO</a></li>
          <li><a href="#">SPECIAL OFFERS</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">PRODUCT HELP</a></li>
          <li><a href="#">SERVICE & WARRANTY</a></li>
          <li><a href="#">REGISTER YOUR BEATS</a></li>
          <li><a href="#">UPDATE YOUR BEATS</a></li>
          <li><a href="#">AUTHORIZED&nbsp;SERVICE&nbsp;PROVIDERS</a></li>
          <li><a href="#">CONTACT SUPPORT</a></li>
          <li><a href="#">INTERNATIONAL NUMBERS</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">PRODUCT&nbsp;HELP</a></li>
          <li><a href="#">NEWS&nbsp;AND&nbsp;EVENTS</a></li>
          <li><a href="#">PROMOTION&nbsp;TERMS</a></li>
          <li><a href="#">PRIVACY&nbsp;POLICY</a></li>
          <li><a href="#">TRADEMARK</a></li>
          <li><a href="#">TERMS&nbsp;OF&nbsp;USE</a></li>
          <li><a href="#">COOKIES</a></li>
        </ul>
      </li>
    </ul>

    <div class="footer___follow">
      <!--Какой-то очень странный баг. Блоки follow и socials не отображаются, 
          если в названии их классов меньше трёх нижних_подчёркиваний. -->
      <a href="#">Follow Us</a>
      <div class="footer___socials">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>

    </div>

  </div>
  <p class="footer__copyright">Copyright © 2020 Apple Inc. - All rights reserved.</p>
</footer>