footer.footer
  .container
    .footer__logo
      a(href='#')
        img(src='../src/img/icons/logo.png' alt='logo')
    ul.footer__list
      li.footer__elem_open
        ul
          li.footer__name Products
          li.footer__link
            a(href='#') HEADPHONES
          li.footer__link
            a(href='#') EARPHONES
          li.footer__link
            a(href='#') SPEAKERS
          li.footer__link
            a(href='#') ACCESSORIES
          li.footer__link
            a(href='#') COLLABORATIONS
          li.footer__link
            a(href='#') BEATSAUDIO
          li.footer__link
            a(href='#') SPECIAL OFFERS
      li.footer__elem_closed
        ul
          li.footer__name Support
          li.footer__link.closed
            a(href='#') PRODUCT HELP
          li.footer__link.closed
            a(href='#') SERVICE &amp; WARRANTY
          li.footer__link.closed
            a(href='#') REGISTER YOUR BEATS
          li.footer__link.closed
            a(href='#') UPDATE YOUR BEATS
          li.footer__link.closed
            a(href='#') AUTHORIZED&nbsp;SERVICE&nbsp;PROVIDERS
          li.footer__link.closed
            a(href='#') CONTACT SUPPORT
          li.footer__link.closed
            a(href='#') INTERNATIONAL NUMBERS
      li.footer__elem_closed
        ul
          li.footer__name.footer__elem_company Company
          li.footer__link.closed
            a(href='#') PRODUCT&nbsp;HELP
          li.footer__link.closed
            a(href='#') NEWS&nbsp;AND&nbsp;EVENTS
          li.footer__link.closed
            a(href='#') PROMOTION&nbsp;TERMS
          li.footer__link.closed
            a(href='#') PRIVACY&nbsp;POLICY
          li.footer__link.closed
            a(href='#') TRADEMARK
          li.footer__link.closed
            a(href='#') TERMS&nbsp;OF&nbsp;USE
          li.footer__link.closed
            a(href='#') COOKIES
    .footer___follow
      //-
        Какой-то очень странный баг. Блоки follow и socials не отображаются,
        если в названии их классов меньше трёх нижних_подчёркиваний.
      h2 Follow Us
      .footer___socials
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-facebook-f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-whatsapp
  p.footer__copyright Copyright &copy; 2020 Apple Inc. - All rights reserved.