section.header.buy-section
    .container
        img.header__bg(src='../src/img/Background/headphones.png' alt='headphones background')
        article.header__product
            p.product__description_short Beats Studio3 Wireless
            h1.product__name.product__name_header Experience your music like never before.
            h1.product__name.product__name_header.product__name_1440 Experience your music&nbsp;like&nbsp;never&nbsp;before.
            .product__wrap_price-button
                p.product__price.product__price_header $299.95
                a.product__button(href='#') Buy now
            p.product__description_long $60 Apple Music gift card with purchase of select Beats products.*