nav
  .nav__list.container
    .nav__burger
      div
      div
      div
    .nav__item.nav__logo
      a(href='../../dist/index.html')
        img(src='../src/img/icons/logo.png' alt='')
    ul.nav__item.nav__menu
      li
        a(href='#') HEADPHONES
      li
        a(href='#') EARPHONES
      li
        a(href='#') SPEAKERS
      li
        a(href='#') EXPLORE
    .nav__item.nav__icons
      a(href="#")
        img(src="../src/img/icons/search.png" alt="search")
      a(href='#')
        img(src='../src/img/icons/profile.png' alt='profile')
      a.nav__cart(href='#')
        img(src='../src/img/icons/cart.png' alt='cart')
      a.nav__item_m(href='#')
        img(src='../src/img/icons/profile-m.png' alt='cart')
      a.nav__item_m.nav__cart(href='#')
        img(src='../src/img/icons/cart-m.png' alt='cart')