<nav>
  <div class="nav__list container">
    <div class="nav__item nav__logo">
      <a href="../../dist/index.html"><img src="../img/icons/logo.png" alt=""></a>
    </div>
    <ul>
      <li class="nav__item"><a href="#">HEADPHONES</a></li>
      <li class="nav__item"><a href="#">EARPHONES</a></li>
      <li class="nav__item"><a href="#">SPEAKERS</a></li>
      <li class="nav__item"><a href="#">EXPLORE</a></li>
    </ul>
    <div class="nav__item nav__icons">
      <a href="#"><img src="../img/icons/search.png" alt="search"></i></a>
      <a href="#"><img src="../img/icons/profile.png" alt="profile"></a>
      <a href="#"><img src="../img/icons/cart.png" alt="cart"></a>
    </div>
  </div>
</nav>