<!-- <div class="nav__bg"></div> -->
<div class="nav__wrap">
  <nav>
    <ul class="nav__list">
      <li class="nav__item nav__logo">
        <a href="../../dist/index.html" class="nav__item_logo"><img src="../img/icons/logo.png" alt=""></a>
      </li>
      <li class="nav__item"><a href="#">HEADPHONES</a></li>
      <li class="nav__item"><a href="#">EARPHONES</a></li>
      <li class="nav__item"><a href="#">SPEAKERS</a></li>
      <li class="nav__item"><a href="#">EXPLORE</a></li>
      <li class="nav__item nav__icons">
        <a href="#" class="nav__item_search"><img src="../img/icons/search.png" alt="search"></i></a>
        <a href="#" class="nav__item_profile"><img src="../img/icons/profile.png" alt="profile"></a>
        <a href="#" class="nav__item_cart"><img src="../img/icons/cart.png" alt="cart"></a>
      </li>
    </ul>
  </nav>
</div>