nav.nav
  .nav__list.container
    .nav__burger
      div
      div
      div
    .nav__item.nav__logo
      a(href='../../dist/index.html')
        img(src='../src/img/icons/logo.png' alt='')
    ul.nav__item.nav__menu
      li
        a(href='#') Headphones
      li
        a(href='#') Earphones
      li
        a(href='#') Speakers
      li
        a(href='#') Explore
    .nav__item.nav__icons
      a.nav__search(href="#")
        img(src="../src/img/icons/search.png" alt="search")
      a.nav__profile(href='#')
        img(src='../src/img/icons/profile.png' alt='profile')
      a.nav__cart(href='#')
        img(src='../src/img/icons/cart.png' alt='cart')