section.product-list
    .container
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-1.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-2.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-3.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-4.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-5.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-6.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now
        
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-7.png' alt='')
            .product-list__wrap
                h2.product-list__name Beats&#x2E3;
                p.product-list__description_short
                    | Up to 8 hours of battery life
                    br
                    | With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    | 2 hours of playback
                .product-list__wrap_price-button
                    p.product-list__price $199.95
                    a.product-list__button(href='#') Buy now