section.product-list
    .container
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-1.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-2.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-3.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-4.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-5.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-6.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW
        article.product-list__item
            .product-list__img
                img(src='../src/img/mainpage_list_items/Bitmap-7.png' alt='')
            .product__wrap
                h2.product__name Beats&#x2E3;
                p.product__description_short
                    | Up to 8 hours of battery life
                    br
                    |               With&nbsp;Fast&nbsp;Fuel, a 5-minute charge =
                    br
                    |               2 hours of playback
                .product__wrap_price-buy
                    p.product__price $199.95
                    a.product__button(href='#') BUY NOW