section.buy-section.slider-section
    .container
        article.product
            p.product__description_short Portable Wireless Speaker
            h2.product__name Beats Pill
                sup.plus-sign +
            include ../partials/color_change.pug
            .product__wrap_price-buy
                p.product__price $299.95
                a.product__button(href='#') BUY NOW
            p.product__description_long $60 Apple Music gift card with purchase of select Beats products.*
        article.buy-section__slider
            img(src='../src/img/Bitmap-1.png' alt='slider')
            .buy-section__pagination
                div
                div
                div