.signup-wrap
  .container
    section.signup
      h2 Hear it first
      p Get updates on product drops, collaborations and all things Beats.
      form(action='#' signup__form='')
        input(type='text' placeholder='Enter your email')
        a(href='#') Sign up
