//      Montserrat-Regular    400
//      Montserrat-Medium     500
//      Montserrat-SemiBold   600
//      Montserrat-Bold       700
 
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("ttf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Regular.eot) format("eot"),
      url(/src/assets/fonts/Montserrat/Montserrat-Regular.otf) format("otf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
      url(/src/assets/fonts/Montserrat/Montserrat-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Montserrat-Medium";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf) format("ttf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Medium.eot) format("eot"),
      url(/src/assets/fonts/Montserrat/Montserrat-Medium.otf) format("otf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Medium.woff) format("woff"),
      url(/src/assets/fonts/Montserrat/Montserrat-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("ttf"),
      url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.eot) format("eot"),
      url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.otf) format("otf"),
      url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"),
      url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url(/src/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("ttf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Bold.eot) format("eot"),
      url(/src/assets/fonts/Montserrat/Montserrat-Bold.otf) format("otf"),
      url(/src/assets/fonts/Montserrat/Montserrat-Bold.woff) format("woff"),
      url(/src/assets/fonts/Montserrat/Montserrat-Bold.woff2) format("woff2");
  }