@import "_fonts";
//Variables
$main_bg: #2b2835; //Цвет фона .header и footer
$menu_m_bg: rgb(19, 104, 173); //Цвет выпадающего меню в nav в мобильной версии
$signup_bg: #f8f8f9;
$product_bg: #f8f8f9;
$product_price: #9d8220;
$product_price_big: #ffff00;
$gradient: linear-gradient(132.34deg, #e040fb 14.55%, #0a00b6 84.03%); //Градиент в блоке с абстрактным
// фоновым рисунком
$gradient_m: linear-gradient(195.81deg, #e040fb 6.72%, #0a00b6 95.49%); //Градиент для мобильной версии
$grey_bg: #f4f4f4; //Цвет фона в четвёртой секции главной страницы
$description: #00b0ff; //Последняя строка текста в первом блоке главной страницы

$nav_height: 78px; //Меняем высоту навбара здесь
$nav_height_m: 40px; //Высота навбара в мобильной версии
$nav_height_m_big: 50px; //Высота навбара на экранах 573px-767px

//Mixins







//Параметры кнопок
@mixin button($text, $bg, $width) {
    .product-list__button,
    .product__button {
        border-radius: 100px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: $text;
        background: $bg;
        width: $width;
        height: 41px;
        line-height: 41px;
        &:hover {
            background: #00b0ff;
        }
    }
}

.header {
    @include button(black, #00b0ff, 170px);
    .product__button:hover {
        background: black;
        color: white;
    }
}

.signup a:hover {
    background: black;
    color: white;
}

.slider-section {
    @include button(white, black, 110px);
}
.bg-section {
    @include button(white, black, 170px);
}
.simple {
    @include button(white, black, 110px);
}
.product-list {
    @include button(white, black, 145px);
}




//Миксин для спрайтов
@mixin nav_ico($width, $height, $obj-position) {
    img {
        width: $width;
        height: $height;
        object-fit: none;
        flex-shrink: 0;
        object-position: $obj-position;
    }
}



//Миксин для шрифта
@mixin font($font-weight, $font-size, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
//      Montserrat-Regular    400
//      Montserrat-Medium     500
//      Montserrat-SemiBold   600
//      Montserrat-Bold       700





//Миксины для медиазапросов
@mixin mobile {
    @media (max-width: 768px - 1px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin tablet-s {
    @media (min-width: 768px) and (max-width: 900px) {
        @content;
    }
}

@mixin tablet_desktop {
    @media (min-width: 768px) and (max-width: 1440px) {
        @content;
    }
}





//Миксины для вспомогательных медиазапросов
@mixin width-363px {
    @media (max-width: 363px) {
        @content;
    }
}

@mixin width-573-767px {
    @media (min-width: 573px) and (max-width: 767px) {
        @content;
    }
}

@mixin width-375px {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin width-1366px {
    @media (width: 1366px) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: 900px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin width-842-900px {
    @media (min-width: 842px) and (max-width: 900px) {
        @content;
    }
}

@mixin width-958-1199px {
    @media (min-width: 958px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin width-768-1050px {
    @media (min-width: 768px) and (max-width: 1050px) {
        @content;
    }
}

@mixin width-768-944px {
    @media (min-width: 768px) and (max-width: 944px) {
        @content;
    }
}

@mixin width-945px {
    @media (min-width: 945px) {
        @content;
    }
}

@mixin width-1200-1400px {
    @media (min-width: 1200px) and (max-width: 1400px) {
        @content;
    }
}

@mixin width-1440px {
    @media all and (min-width: 1440px) {
        @content;
    }
}



