@import "_fonts";
//Variables
$main_bg: #2b2835; //Цвет фона .header и footer
$menu_m_bg: rgb(19, 104, 173); //Цвет выпадающего меню в nav в мобильной версии
$signup_bg: #f8f8f9;
$product_bg: #f8f8f9;
$product_price: #9d8220;
$product_price_big: #ffff00;
$gradient: linear-gradient(132.34deg, #e040fb 14.55%, #0a00b6 84.03%); //Градиент в блоке с абстрактным
// фоновым рисунком
$gradient_m: linear-gradient(195.81deg, #e040fb 6.72%, #0a00b6 95.49%); //Градиент для мобильной версии
$grey_bg: #f4f4f4; //Цвет фона в четвёртой секции главной страницы
$description: #00b0ff; //Последняя строка текста в первом блоке главной страницы

$nav_height: 78px; //Меняем высоту навбара здесь
$nav_height_m: 40px; //Высота навбара в мобильной версии
$nav_height_m_big: 50px; //Высота навбара на экранах 573px-767px

$type-color: #00b0ff; //Основной цвет рамки и ховер эффектов в блоке .parameters__type

$play-button: #00b0ff; //Цвет кнопки проигрывания видео

//Цвета в блоке .parameters__color
.yellow {background-color: #FFEB3B;} 
.green {background-color: rgba(0, 200, 83, 0.5);}
.pink-pale {background-color: rgba(255, 23, 68, 0.45);}  
.pink {background-color: #F06292;} 
.black {background-color: #000;} 
.brown {background-color: #52492B;} 
.purple-pale {background-color: rgba(224, 64, 251, 0.45);} 
.grey {background-color: rgba(151, 151, 151, 0.45);} 
.violet {background-color: rgba(123, 31, 162, 0.5);} 
.turquoise {background-color: rgba(0, 176, 255, 0.45);} 



//Mixins

//Миксин для спрайтов
@mixin nav_ico($width, $height, $obj-position) {
    img {
        width: $width;
        height: $height;
        object-fit: none;
        flex-shrink: 0;
        object-position: $obj-position;
    }
}



//Миксин для шрифта
@mixin font($font-family, $font-size, $line-height) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}
//      Montserrat-Regular    400
//      Montserrat-Medium     500
//      Montserrat-SemiBold   600
//      Montserrat-Bold       700



//Миксины для медиазапросов
@mixin mobile {
    @media (max-width: 768px - 1px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin tablet-s {
    @media (min-width: 768px) and (max-width: 900px) {
        @content;
    }
}

@mixin tablet_desktop {
    @media (min-width: 768px) and (max-width: 1440px) {
        @content;
    }
}



//Миксины для вспомогательных медиазапросов
@mixin width-363px {
    @media (max-width: 363px) {
        @content;
    }
}

@mixin width-534-768px {
    @media (min-width: 534px) and (max-width: 768px - 1px) {
        @content;
    }
}

@mixin width-573-767px {
    @media (min-width: 573px) and (max-width: 767px) {
        @content;
    }
}

@mixin width-375px {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin width-1366px {
    @media (width: 1366px) {
        @content;
    }
}

@mixin width-1200-1367px {
    @media (min-width: 1200px) and (max-width: 1367px) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: 900px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin width-842-900px {
    @media (min-width: 842px) and (max-width: 900px) {
        @content;
    }
}

@mixin width-958-1199px {
    @media (min-width: 958px) and (max-width: 1200px - 1px) {
        @content;
    }
}

@mixin width-768-1050px {
    @media (min-width: 768px) and (max-width: 1050px) {
        @content;
    }
}

@mixin width-768-944px {
    @media (min-width: 768px) and (max-width: 944px) {
        @content;
    }
}

@mixin width-945px {
    @media (min-width: 945px) {
        @content;
    }
}

@mixin width-1200-1400px {
    @media (min-width: 1200px) and (max-width: 1400px) {
        @content;
    }
}

@mixin width-1200-1365px {
    @media (min-width: 1200px) and (max-width: 1365px) {
        @content;
    }
}

@mixin width-1440px {
    @media all and (min-width: 1440px) {
        @content;
    }
}



//Миксин для кнопок
@mixin button($text, $bg, $width) {
    .product-list__button,
    .product__button {
        border-radius: 100px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: $text;
        background: $bg;
        width: $width;
        height: 41px;
        font-size: 14px;
        line-height: 41px;
        @content;
        &:hover {
            background: #00b0ff;
        }
    }
}

.header {
    @include button(black, #00b0ff, 170px);
    @include mobile {
        @include button(black, #00b0ff, 146px); //Параметры кнопки в мобильной версии
    }
    .product__button:hover {
        background: black;
        color: white;
    }
}

.signup a:hover {
    background: black;
    color: white;
}

.slider-section {
    @include button(white, black, 110px);
    @include mobile {
        @include button(#f8f8f9, #030303, 140px); //Параметры кнопки в мобильной версии
    }
}
.bg-section {
    @include button(white, black, 170px);
}
.simple {
    @include button(white, black, 110px);
    @include mobile {
        @include button(#f8f8f9, #030303, 146px); //Параметры кнопки в мобильной версии
    }
}
.product-list {
    @include button(white, black, 145px);
    @include mobile {
        @include button(white, black, 68px) {
            height: 20px;
            line-height: 20px;
            font-size: 9px;
        }
    }
    @include tablet {
        @include button(white, black, 68px) {
            height: 20px;
            line-height: 20px;
            font-size: 9px;
        }
    }
}
.product-page .product {
    @include button(white, black, 173px)
}


//Миксин для стикеров New и Sell
@mixin sticker($content, $text-color, $bgc, $font-size) {
    content: $content;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    margin-top: 12px;
    color: $text-color;
    background-color: $bgc;
    width: 40px;
    height: 16px;
    font-family: "Montserrat-Bold";
    font-size: $font-size;
    line-height: 16px;
    @content;
}
$text-color-new: #f8f8f9;
$bgc-new: #00c853;
$text-color-sale: #ff1744;
$bgc-sale: #ffeb3b;

// С помощью js мы выбираем нужный нам товар (.product-list__item) и просто применяем к нему класс .new, .sale или оба класса .new.sale или .sale.new
.sale {
    &::before {
        @include sticker("Sale", $text-color-sale, $bgc-sale, 11px);
    }
}
.new {
    &::after {
        @include sticker("New", $text-color-new, $bgc-new, 12px);
    }
}
.sale.new {
    &::before {
        @include sticker("Sale", $text-color-sale, $bgc-sale, 11px);
    }
    &::after {
        @include sticker("New", $text-color-new, $bgc-new, 12px) {
            margin-top: 12px * 2 + 16px;
        }
    }
}



//Псевдоселектор для пагинации на странице каталога
 %arrows {
    content: '';
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 1px;
    cursor: pointer;
}

//Псевдоселектор для стрелок слайдера (маленькие картинки слева) на странице product
%arrow-slider {
    content: "";
    position: absolute;
    background-image: url(../img/icons/arrow-down-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 9.5px;
    left: 50%;
    margin-left: -11px;
}

// Чтобы работал вызов иконки Font-Awesome из ::before и ::after 
// (в бесплатной версии только font-weight: 900;)
%font-awesome {
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome\ 5 Brands';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}

//Псевдоселектор для слайдера в мобильной версии на странице product
%mobile-slider-arrows {
    content: url(../img/icons/arrow-left-pagination.svg);
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    position: absolute;
    // background-image: url(../img/icons/arrow-left-pagination.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    width: 36px;
    height: 36px;
    padding-top: 6px;
    padding-right: 2px;
    box-sizing: border-box;
    background: rgba(240, 240, 240, 0.5);
    // top: 30px;
    top: 50%;
    margin-top: -18px;
    @include not-mobile {
        display: none;
    }
}



//Скрыть элемент
.hidden {
    display: none;
}



// Стили цветов товара
%circle {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
    margin-right: 13px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        transform: scale(1.1);
    }
}

// Модификаторы цветов товара
.circle_white {
    @extend %circle;
    background-color: #fff;
}
.circle_red {
    @extend %circle;
    background-color: #dd5656;
}
.circle_black {
    @extend %circle;
    background-color: black;
}