footer {
    padding-top: 63px;
}

.footer__content {
    background: #2b2835;
    height: 589px;
}

.footer__content_copyright {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.31;
}
