@import '_var_mix';

footer {
    margin-top: 63px;
    background: $main_bg;
    width: 100vw;
    .container {
        padding-bottom: 21px;
        flex-direction: column;
        align-items: stretch;
    }
}

.footer__content_columns {
    // display: grid;
    // grid-template-columns: 1fr repeat(4, 2fr);
    // grid-gap: 6.25%;
    // padding: 55px 6.25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 90px 0 0;
    li {
        list-style: none;
        padding-bottom: 0.7em;
        a {
            color: #fff;
        }
        li:nth-child(1) {
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
        }
    }
}
.footer__content_logo {
    text-align: center;
}

.footer__content_follow {
    display: grid;
}

.footer__content_socials {
    padding-left: 0;
    display: flex;
    padding-top: 14px;
    width: 170px;
    li {
        padding: 0;
        padding-right: 14px;
    }
    li:last-child {
        padding-right: 0;
    }
    i {
        width: 32px;
        height: 32px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 32px;
        color: black;
        background: #fff;
        border-radius: 50px;
        margin: auto;
    }
}

.footer__content_copyright {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.31;
    padding-top: 83px;
}