body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }
}

.header {
    z-index: 1;
    margin-top: -78px;
    position: relative;
    height: 616px;
    background-color: #2b2835;
}

.product:nth-child(2n-1) {
    float: left;
    padding-left: 92px;
}

.product {
    margin-top: 239px;
}

.header__bg {
    position: absolute;
    z-index: 1;
}

.header__product {
    position: relative;
    z-index: 2;
    // outline: 1px solid #fff;
    padding-top: 199px;
    color: #fff;
    width: 510px;
    float: right;
    padding: 199px 135px 0 0;
}

.product__description_short {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 13px;
}

.product__name_header {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.product .product__name {
    font-weight: bold;
    font-size: 50px;
    margin-left: -3px;
    margin-bottom: 20px;
}

.product__wrap_price-buy {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 51px;
}

.product__price {
    font-size: 40px;
    margin-right: 43px;
}

.product__price_header {
    margin-right: 34px;
}

.product__wrap_price-buy .product__button_header {
    color: black;
    background: #00b0ff;
    padding: 12px 48px;
}

.header__product .product__description_long {
    color: #00b0ff;
}

.product__description_long {
    font-weight: 500;
    font-size: 13px;
}

.product__button {
    color: #fff;
    background-color: black;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    display: inline-block;
}

.slider-section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 175px;
}

.bg-section {
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url(../img/Background/Group-18.png);
    .product__name {
        text-transform: uppercase;
        font-weight: bold;
    }
    .product__price {
        color: #FFFF00;
    }

    .product {
        padding-left: 32px;
    }
}

.buy-secion__img {
    margin-left: -100px;
}

.bg-wrap {
    background: linear-gradient(132.34deg, #E040FB 14.55%, #0A00B6 84.03%);
    
}


.product__button_bg {
    padding: 12px 48px;
}
