//Какая-то проблема с onclick. Присвоение класса идёт только после второго щелчка. Надо пофиксить
//Так же посмотреть, что скрывает 'overflow-x: hidden;'
//Отрегулировать ширину и высоту выпадающего меню для планшетов
//Убрать внешние отступы у блоков
//768-1367 футер настроить
//Прижать футер

@import "_var_mix";

//Мобильные телефоны
@media all and (max-width: 768px - 1px) {
    .container {
        // width: 100vw - 2.6vw;
        width: initial;
        margin: 0 20px;
    }
    .header {
        min-height: unset;
        // max-height: 58vw;
        // z-index: initial;
        background-color: transparent;
    }
    .header::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 58vw;
        background-color: $main_bg;
    }
    .header__bg {
        margin-left: 5.5%;
        position: relative;
        width: 100%;
    }
    .header__product {
        color: black;
        padding-top: 18px;
        @include button(black, #00b0ff, 146px);
    }
    nav + .header {
        margin-top: -$nav_height_m;
    }
    .nav__list {
        justify-content: center;
        height: $nav_height_m;
        .nav__burger {
            display: initial;
        }
        .nav__logo {
            position: absolute;
            left: 56px;
            img {
                width: 26.93px;
            }
        }
        ul {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            background-color: rgb(19, 104, 173);
            min-width: 411px;
            height: 100vh;
            font-size: 50px;
            padding: 20px;
            padding-top: 5px;
            top: 40px;
            left: 0;
            display: none;
            li:last-child {
                margin-bottom: 0;
            }
        }
        .open {
            display: initial;
        }
        .nav__icons {
            width: initial;
            padding: 0;
            gap: 20px;
            a {
                display: none;
            }
            .nav__item_m {
                display: initial;
                img {
                    width: 22px;
                    height: 22px;
                }
            }
            .nav__cart::after {
                top: -3px;
                right: -6px;
            }
        }
    }
    .product__description_short {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0;
    }
    .product__name_header {
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .product {
        .product__name {
            font-weight: bold;
            font-size: 32px;
            line-height: 55px;
            margin-top: 3px;
            margin-bottom: 0;
        }
        .plus-sign {
            top: -0.55rem;
            margin-left: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 55px;
        }
    }
    .product__price,
    .product__price_header {
        font-size: 32px;
        margin-right: 14px;
    }
    .product__description_long {
        font-size: 13px;
        opacity: 0.68;
    }
    .header__product .product__description_long {
        font-size: 13px;
        color: black;
    }
    .product__wrap_price-buy {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .slider-section {
        padding-bottom: 100px;
        .container {
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: initial;
            align-items: center;
            .buy-section__slider {
                width: initial;
                margin-right: 0;
                padding: 20px 0;
                img {
                    width: 100%;
                    margin-right: 0;
                }
                .buy-section__pagination {
                    display: none;
                }
            }
            @include button(#f8f8f9, #030303, 146px);
        }
    }
    .product {
        margin-top: -40px;
    }
    .color-change__h2 {
        font-size: 32px;
    }
    .bg-wrap {
        background: $gradient_m;
    }
    .bg-section {
        flex-direction: column;
        height: unset;
        color: #f8f8f9;
        padding-bottom: 37px;
        .product {
            padding-left: 0;
            margin-top: -50px;
            .product__description_short:first-child {
                line-height: 20px;
                margin: 0;
                font-size: 16px;
            }
            .product__description_short {
                font-style: normal;
                font-weight: normal;
                // line-height: 20px;
                font-size: 14px;
                margin: 14px 0;
            }
            .product__wrap_price-buy {
                margin-top: 33px;
            }
            .product__price {
                line-height: 39px;
            }
            .product__description_long {
                opacity: unset;
                line-height: 18px;
            }
            .product__name {
                margin-top: -4px;
                margin-bottom: 3px;
            }
        }
        img {
            margin-left: unset;
            margin-top: 6px;
            width: 100%;
        }
    }
    .bg-grey_wrap {
        margin-top: 40px;
        padding-bottom: 36px;
        background: none;
        .container {
            align-items: initial;
        }
    }
    .bg-grey {
        flex-direction: column-reverse;
        align-items: initial;
        .product {
            h2 {
                color: #2b2835;
                margin-top: 12px;
                text-transform: uppercase;
            }
            > p:first-child {
                font-size: 16px;
                line-height: 20px;
                color: #2b2835;
            }
            > p {
                font-size: 14px;
                line-height: 27px;
                color: #030303;
            }
            > p:last-child {
                font-weight: 500;
                font-size: 13px;
                line-height: 18px;
                color: #6a6a6a;
            }
            .product__wrap_price-buy {
                margin: 42px 0 15px 0;
            }
            .product__price {
                line-height: 39px;
                color: #000000;
            }
            @include button(#f8f8f9, #030303, 146px);
        }
        .product__img {
            margin-right: 0;
            padding: 40px 0;
            img {
                width: 100%;
            }
        }
    }
    .product-list {
        .container {
            padding-top: initial;
            .product__name {
                font-size: 40px;
            }
        }
    }
    .signup-wrap {
        background-color: initial;
    }
    .signup {
        width: 79.46vw;
        margin: 0 22px;
        padding-bottom: 0;
        background-color: $signup_bg;
        h2 {
            font-size: 32px;
            line-height: 55px;
            padding: 0;
        }
        p {
            width: 70vw;
            padding-top: 11px;
        }
        form {
            width: 79.46vw;
            padding-top: 30px;
            a {
                color: black;
            }
        }
    }

    .footer {
        .container {
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding-top: 30px;
        }
        .footer__logo {
            margin-bottom: 35px;
        }
        .footer__list {
            flex-direction: column;
            text-align: center;
            width: 100%;
            .footer__name {
                padding-top: 5px;
                padding-bottom: 12px;
                font-size: 20px;
                height: 45px;   
                width: 100%;
                padding-bottom: 0;
            }
            
            ul li:not(:first-child) {
                mix-blend-mode: normal;
                opacity: 0.39;
            }
            ul:first-child {
                // padding-bottom: 50px;
            }
        }
        h2 {
            font-size: 20px;
            color: white;
        }
        .footer___follow {
            text-align: center;
            padding-top: 12px;
            padding-bottom: 40px;
            .footer___socials {
                padding-top: 19px;
            }
        }
        .footer__copyright {
            display: none;
        }
        .footer__elem_open {
            padding-bottom: 50px;
            border: none;
        }
        .footer__elem_closed {
            padding-bottom: 0;
            .footer__name {
                border-top: 0.5px solid #000;
            }
            .footer__elem_company {
                border-bottom: 0.5px solid #000;
            }
        }

        .footer__link {
            display: none;
        }
        // .open_footer {
        //     display: initial;
        // }
    }
}

//Вспомогательные медиазапросы для некоторых элементов
@media all and (max-width: 375px) {
    .bg-wrap-img {
        background-image: url(../img/Background/Group-18-m.png);
    }
    .bg-wrap {
        .container {
            margin: 0;
        }
        .product {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
@media all and (max-width: 360px) {
    .bg-section {
        .product__name {
            line-height: initial;
        }
    }
}

@media all and (width: 375px) {
}

@media all and (width: 1440px) {
}

//Планшеты
@media all and (max-width: 1200px - 1px) {
}
