@import "_var_mix";

nav {
    background-color: rgba(25, 23, 32, 0.47);
    z-index: 10;
    position: relative;
    .container {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
//Любой элемент с классом .header, идущий после nav, будет обладать следующими свойствами:
nav + .header {
    z-index: 1;
    margin-top: -$nav_height;
    position: relative;
}

.nav__list {
    height: $nav_height;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: calc(100% - 254px);
    }
}

.nav__logo {
    a {
        display: flex;
    }
}

.nav__item {
    a {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: white;
    }
    a:hover {
        // text-decoration: underline #fff;
        opacity: 0.7;
    }
}

.nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    padding-left: 24px;
    // margin-left: 9.5%;
    img:first-child {
        height: 29px;
    }
}

// @media all and (max-width: 1366px) {
//     .nav__icons {
//         width: 15%;
//     }
// }

// @media all and (min-width: 1366px) {
//     .nav__icons {
//         width: 13%;
//     }
// }
