@import "_var_mix";

.nav {
    background-color: rgba(25, 23, 32, 0.47);
    z-index: 10;
    position: relative;
    
    //Любой элемент с классом .header, идущий после .nav, будет обладать следующими свойствами:
    & + .header {
        z-index: 1;
        margin-top: -$nav_height;
        position: relative;
        @include width-573-767px {
            margin-top: -$nav_height_m_big;
        }
        @include mobile {
            margin-top: -$nav_height_m;
        }
    }


    &__list {
        height: $nav_height;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        @include width-573-767px {
            height: $nav_height_m_big;
        }
        @include mobile {
            justify-content: center;
            height: $nav_height_m;
        }
        @include tablet {
            flex-wrap: nowrap;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: calc(100% - 254px);
            @include mobile {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                position: absolute;
                background-color: $menu_m_bg;
                min-width: 411px;
                height: 100vh;
                font-size: 50px;
                padding: 5px 20px 20px 60px;
                top: 40px;
                left: 0;
                display: none;
            }
            @include tablet-l {
                justify-content: space-around;
            }
        }
    }

    &__logo {
        @include mobile {
            position: absolute;
            left: 56px;
        }
        a {
            display: flex;
        }
        img {
            @include mobile {
                width: 26.93px;
            }
            @include tablet-s {
                width: 36px;
            }
        }
    }

    &__item {
        a {
            @include font(500, 15px, 18px);
            color: white;
            text-transform: uppercase;
            @include tablet-s {
                font-size: 12px;
            }
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 180px;
        padding-left: 24px;
        @include mobile {
            width: initial;
            padding: 0;
            gap: 20px;
        }
        @include tablet-s {
            width: 143px;
        }
        @include tablet-l {
            width: 17%;
        }
        img:first-child {
            height: 29px;
            @include mobile {
                height: 21px;
            }
        }
        img:hover {
            transform: scale(1.1);
        }
        a:first-child {
            @include mobile {
                display: none;
            }
        }
    }

    &__profile {
        @include nav_ico(27px, 27px, 0 0); // Ширина, высота, object-position
        @include mobile {
            @include nav_ico(22px, 22px, -27px 0); // Ширина, высота, object-position
        }
    }
    &__cart {
        @include nav_ico(27px, 25px, 0 0); // Ширина, высота, object-position
        @include mobile {
            @include nav_ico(22px, 21px, -27px 0); // Ширина, высота, object-position
        }
    }

    &__burger {
        display: none;
        cursor: pointer;
        div {
            background-color: #fff;
            width: 16px;
            height: 2px;
        }
        @include mobile {
            display: initial;
        }
        div:not(:last-child) {
            margin-bottom: 3px;
        }
    }

    //Кружок возле корзины с количеством покупок
    &__cart::after {
        content: "3";
        text-align: center;
        @include font(500, 9px, 12px);
        position: absolute;
        top: -1px;
        right: -4px;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background-color: #ff1744;
        @include mobile {
            top: -3px;
            right: -6px;
        }
    }
    .open {
        @include mobile {
            display: initial;
        }
    }
}
