@import "_var_mix";

//Планшеты
@media all and (min-width: 768px) and (max-width: 1200px - 1px) {
    .container {
        margin: 0 3%;
    }
    .header {
        min-height: 390px;
        .container {
            position: relative;
        }
        .header__bg {
            left: -3%;
            top: 0;
        }
        .product__wrap_price-button {
            margin-top: 26px;
        }
    }
    .header__product {
        margin-right: 0;
        max-width: min-content;
        padding-top: 110px;
        .product__button {
            width: 200px;
        } 
    }
    nav .container {
        flex-wrap: nowrap;
    }
    nav {
        .nav__icons {
            width: 18%;
            padding-left: 0;
            a {
                width: 22px;
            }
            img {
                object-fit: scale-down;
                max-width: 100%;
            }
        }
    }

    .product__name_header
     {
        font-size: 30px;
        margin-bottom: 0;
    }

    .slider-section {
        padding-bottom: 0;
        .container {
            min-height: 800px;
        }
        .buy-section__slider {
            align-content: center;
            flex-wrap: wrap;
            padding: 0;
            img {
                width: 51.4vw;
            }
            .buy-section__pagination {
                margin-top: -50px;
            }
        }
        .container .buy-section__slider {
            margin-right: 0;
        }
        .product {
            width: 45%;
            margin-top: 0;
        }
    }

    .bg-wrap {
        .bg-section {
            height: 650px;
            max-height: 842px;
            justify-content: space-between;
            img {
                margin-left: 0;
            }
            .product {
                padding-left: 0;
                margin-right: 10px;
                width: min-content;
            }
        }
    }



    .simple .product__img {
        margin-right: 0;
        img {
            width: 60vw;
            margin-right: -50px;
        }
    }



}





@media all and (min-width: 768px) and (max-width: 900px) {
    .nav__menu {
        a {
            font-size: 12px;
        }
    }
    .nav__logo {
        img {
            width: 36px;
        }
    }
    .header .header__bg {
        width: 70%;
        left: -6%;
    }
    .header__product .product__button {
        width: 140px;
    } 
}




@media all and (min-width: 900px) and (max-width: 1200px - 1px) {
    nav {
        .nav__menu {
            justify-content: space-around;
        }
        .nav__icons {
            width: 13%;
        }
    }
    .header__product {
        max-width: 47%;
    }
}

@media all and (min-width: 842px) and (max-width: 900px) {
    .header {
        min-height: 420px;
    }
}

@media all and (min-width: 958px) and (max-width: 1200px - 1px) {
    .header {
        min-height: 450px;
        .header__bg {
            width: 580px
        }
        .header__product {
            padding-top: 140px;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1050px) {
    .footer__list {
        li li:nth-child(1) {
            font-size: 20px;
        }
    }
    .footer___follow {
        h2 {
            font-size: 20px;
            
        }
        .footer___socials {
            i {
                width: 28px;
                height: 28px;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    .footer__link {
        a {
            font-size: 12px;
        }
    }
    .footer__elem_open {
        a {
            font-size: 12px;
        }
    }
    
}

@media all and (min-width: 768px) and (max-width: 944px) {
    .footer__list {
        flex-wrap: wrap;
        width: 80%;
    }
    .footer___follow {
        width: 100%;
        padding-top: 40px;
        align-items: center;
        h2 {
            text-align: center;
        }
        .footer___socials {
            width: min-content;
        }
    }
    .footer__copyright {
    padding-top: 50px;
    }
}

@media all and (min-width: 945px) {
    .footer__list {
        flex-wrap: nowrap;
        width: 67%;
    }
    .footer___follow {
        width: initial;
    }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .header {
        min-height: 45vw;
       
        .header__product {
            margin-right: 0;
        }
    }
}


//Переопределение стилей для больших экранов
@media all and (min-width: 1440px) {
    .simple .product__img img {
        width: initial;
    }
}
@media all and (min-width: 1688px) {
    .header__bg {
        margin-left: 10%;
    }
}
@media all and (min-width: 2100px) {
    .header__bg {
        margin-left: 20%;
    }
}
@media all and (min-width: 2600px) {
    .header__bg {
        margin-left: 26%;
    }
}
@media all and (min-width: 3100px) {
    .header__bg {
        margin-left: 30%;
    }
}