<!DOCTYPE html>
html(lang="en")
    head
        title Mainpage
        meta(charset='UTF-8')
        //- <meta http-equiv="cache-control" content="no-cache"/>
        //- <meta http-equiv="pragma" content="no-cache"/>
        //- <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        meta(name='viewport' content='width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
        //- link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')

    body
        main.main
            include ../partials/nav/nav.pug
            include ../partials/header/header_section.pug
            include ../partials/slider_section/slider_section.pug
            include ../partials/bg_section/bg_section.pug
            include ../partials/simple_section/simple_section.pug
            include ../partials/product_list/product_list.pug
            include ../partials/signup/signup.pug

        include ../partials/footer/footer.pug

        script.

            let img1 = document.querySelector('.slider__img:nth-child(1)');
            let img2 = document.querySelector('.slider__img:nth-child(2)');
            let img3 = document.querySelector('.slider__img:nth-child(3)');

            let pag1 = document.querySelector('.pag:nth-child(1)');
            let pag2 = document.querySelector('.pag:nth-child(2)');
            let pag3 = document.querySelector('.pag:nth-child(3)');

            pag1.classList.add("pag_active");

            let pagination = document.getElementsByClassName('pag');
            pagination[0].onclick = function() {
                img1.classList.remove("hidden");
                img2.classList.add("hidden");
                img3.classList.add("hidden");
                pag1.classList.add("pag_active");
                pag2.classList.remove("pag_active");
                pag3.classList.remove("pag_active");
            }

            pagination[1].onclick = function() {
                img2.classList.remove("hidden");
                img1.classList.add("hidden");
                img3.classList.add("hidden");
                pag2.classList.add("pag_active");
                pag1.classList.remove("pag_active");
                pag3.classList.remove("pag_active");
            }

            pagination[2].onclick = function() {
                img3.classList.remove("hidden");
                img1.classList.add("hidden");
                img2.classList.add("hidden");
                pag3.classList.add("pag_active");
                pag1.classList.remove("pag_active");
                pag2.classList.remove("pag_active");
            }