<!DOCTYPE html>
<html>

<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="cache-control" content="no-cache"/> -->
  <!-- <meta http-equiv="pragma" content="no-cache"/> -->
  <!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8"> -->
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="index.aeb46ce33ee01ceabff9.css">
</head>

<body>
  <%= require('html-loader!../partials/nav.html') %>
  <main class="main">

    <header class="header buy-section">
      <img class="header__bg" src="../src/img/Background/headphones.png" alt="headphones background">
      <article class="header__product">
        <p class="product__description_short">Beats Studio3 Wireless</p>
        <h1 class="product__name product__name_header">Experience your music&nbsp;like&nbsp;never&nbsp;before.</h1>
        <div class="product__wrap_price-buy">
          <p class="product__price product__price_header">$299.95</p>
          <a href="#" class="product__button product__button_header">BUY NOW</a>
        </div>
        <p class="product__description_long">$60 Apple Music gift card with purchase of select Beats products.*</p>
      </article>
    </header>

    <section class="buy-section slider-section">
      <article class="product">
        <p class="product__description_short">Portable Wireless Speaker</p>
        <h1 class="product__name plus-sign">Beats Pill</h1>
        <%= require('html-loader!../partials/color_change.html') %>
        <div class="product__wrap_price-buy">
          <p class="product__price">$299.95</p>
          <a href="#" class="product__button">BUY NOW</a>
        </div>
        <p class="product__description_long">$60 Apple Music gift card with purchase of select Beats products.*</p>
      </article>
      <article class="buy-section__slider">
        <img src="../src/img/Bitmap-1.png" alt="slider">
        <div class="buy-section__pagination">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </article>
    </section>

    <div class="bg-wrap">
      <section class="buy-section bg-section">
        <img class="buy-secion__img" src="../src/img/Bitmap-3.png" alt="headphones photo">
        <article class="product">
          <p class="product__description_short">Totally wireless high-performance earphones</p>
          <h1 class="product__name">Powerbeats Pro</h1>
          <p class="product__description_short">Up to 9 hours of listening time</p>
          <p class="product__description_short">Apple H1 Chip & Class 1 Wireless Bluetooth®</p>
          <p class="product__description_short">Sweat & water resistant</p>
          <p class="product__description_short">Adjustable, secure-fit earhooks</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button product__button_bg">BUY NOW</a>
          </div>
          <p class="product__description_long">$60 Apple Music gift card with purchase of select Beats products.*</p>
        </article>
      </section>
    </div>

    <div class="bg-grey_wrap">
      <section class="buy-section buy-section_bg-grey">
        <article class="product">
          <p class="product__description_short">Talk. Listen. Beats.</p>
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
          <p class="product__description_short">With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
          <p class="product__description_short">Sweat & water resistant</p>
          <p class="product__description_short">Apple W1 Chip & Class 1 Wireless Bluetooth®</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </article>
        <img class="buy-secion__img" src="../src/img/Bitmap-2.png" alt="headphones photo">
      </section>
    </div>

    <section class="product-list">
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-1.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-2.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-3.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-4.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-5.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-6.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
      <article class="product-list__item">
        <img src="../src/img/mainpage_list_items/Bitmap-7.png" alt="">
        <div class="product__wrap">
          <h1 class="product__name">Beatsˣ</h1>
          <p class="product__description_short">Up to 8 hours of battery life
            With&nbsp;Fast&nbsp;Fuel, a 5-minute charge = 2 hours of playback</p>
          <div class="product__wrap_price-buy">
            <p class="product__price">$199.95</p>
            <a href="#" class="product__button">BUY NOW</a>
          </div>
        </div>
      </article>
    </section>

    <div class="signup-wrap">
      <section class="signup">
        <h1>Hear it first</h1>
        <p>Get updates on product drops, collaborations and all things Beats.</p>
        <form action="#" signup__form>
          <input type="text" placeholder="Enter your email">
          <a href="#">Sign up</a>
        </form>
      </section>
    </div>

  </main>

  <%= require('html-loader!../partials/footer.html') %>
  <!-- <script src="../dist/index.a2dee4811091960aa09e.js"></script> -->
</body>

</html>